*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form__item{
    margin: 10px 0;
}
.form__label{
    color: rgb(0, 0, 0);
}
.form__field{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
    color: black;
    background-color: rgb(199, 123, 123);
    transition: outline 0.3s, outline-offset 0.3s, background 0.3s;
}
.form__btn{
    background-color: rgb(124, 21, 21);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}
.form__field:hover,
.form__field:focus {
    outline: 1px solid rgb(34, 161, 178);
    outline-offset: 3px;
    background-color: gray;
}
.form__btn:hover,
.form__btn:focus {
    background-color: black;
    color: bisque;
    outline: 1px solid rgb(183, 247, 255);
    outline-offset: 3px;
}
.form__field:disabled{
    border: 1px solid black;
    background-color: whitesmoke;
}
.form__field:disabled:hover,
.form__field:disabled:focus{
    outline: none;
    background-color: rgb(134, 103, 103) ;
}
.form__btn:disabled:hover,
.form__btn:disabled:focus{
    background-color: black;
    outline: none;
}
.form__field:user-valid{
    border: 1px solid rgb(0, 197, 0);
    background-color: forestgreen;
}
.form__field:user-invalid{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(105, 2, 2);
}
.form__item:has(.form__field:user-invalid)::after{
    content: "обязательное заполнение";
}
.box{
    margin-left: 20px;
}
.filter-color{
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.filter-color__item{
    flex-shrink: 0;
}
.filter-color__checkbox{
    display: none;
}
.filter-color__label{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    outline: 0px solid gray;
    outline-offset: 0px;
    transition: outline 0.2s, outline-offset 0.2s;
}
.filter-color__label:hover,
.filter-color__label:focus{
    outline: gray 2px solid;
    outline-offset: 3px;
    cursor: pointer;
}
.filter-color__checkbox:checked+.filter-color__label{
    outline: gray 2px solid;
    outline-offset: 3px;
}
.filter-color__label::after{
    content: "";
    transition: transform 0.2s;
}
.filter-color__checkbox:checked+.filter-color__label::after{
    content: "\F272";
    font-family: "bootstrap-icons";
    color: rgb(0, 0, 0);
    transform: scale(2);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter__section{
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    width: 200px;
    background: antiquewhite;
}
input[type="checkbox"],
input[type="radio"] {
    accent-color: rgb(255, 0, 106);
    width: 20px;
    height: 20px;
}
input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(124, 2, 104);
    transition: transform 0.2s, background-color 0.2s, outline 0.2s, outline-offset 0.2s;
}
input[type="radio"]:checked{
    transform: scale(0.6);
    background-color:brown;
    outline: 1px solid blueviolet;
    outline-offset: 6px;
}
input[type="radio"]:disabled{
    border: 1px solid rgb(66, 66, 66);
}
input[type="radio"]:disabled:checked{
    transform: scale(0.6);
    background-color:rgb(66, 66, 66);
    outline: 1px solid rgb(66, 66, 66);
    outline-offset: 6px;
}

input[type=range] {
  height: 22px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #353535;
  background: #c2c2c2;
  border-radius: 17px;
  border: 1px solid #bd00ff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 4px #000000;
  border: 1px solid #ffc000;
  height: 22px;
  width: 40px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c2c2c2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #353535;
  background: #c2c2c2;
  border-radius: 17px;
  border: 1px solid #bd00ff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 4px #000000;
  border: 1px solid #ffc000;
  height: 22px;
  width: 40px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c2c2c2;
  border: 1px solid #bd00ff;
  border-radius: 14px;
  box-shadow: 2px 2px 1px #353535;
}
input[type=range]::-ms-fill-upper {
  background: #c2c2c2;
  border: 1px solid #bd00ff;
  border-radius: 14px;
  box-shadow: 2px 2px 1px #353535;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 4px #000000;
  border: 1px solid #ffc000;
  height: 22px;
  width: 40px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c2c2c2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c2c2c2;
}
.filter-sort{
    width: 100%;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    background-image:url("../img/free-icon-filter-3839020.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 16px;
    border: 1px solid #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
.filter-sort::-ms-expand{
    display: none;
}
.filter-sort option{
    background-color: rgb(255, 204, 181);
}